VITE_API_BASE_URL=https://rapid-crisis-response-140145998160.asia-south1.run.app
VITE_SOCKET_URL=https://rapid-crisis-response-140145998160.asia-south1.run.app

VITE_FIREBASE_API_KEY=AIzaSyARWPKDgQRmeoRNkBHcL7Cu3xvrJGctXn4
VITE_FIREBASE_AUTH_DOMAIN=rapid-crisis-management.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=rapid-crisis-management
VITE_FIREBASE_STORAGE_BUCKET=rapid-crisis-management.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=941332660734
VITE_FIREBASE_APP_ID=1:941332660734:web:03d69e7ba42ce44cc9c0af
VITE_FIREBASE_VAPID_KEY=BLnrEzfTiP9e6lllTt21Ws7AmmGj62SQLAyOh80k6-VFHn6ixvf8QqkgfcPBFNyhNZ_beFn-mUnuNrb0agJv5rY
